@model Tweetify.Models.Tweet
<div>
    <form asp-action="Tweeter">
        <div class="Tweet">
            <label>Que voulez vous twittoz ??</label>
            <textarea type="text" name="Content" class="form-control" asp-for="Content"></textarea>

        </div>
        <div>
            <button type="submit" class="btn btn-search-bar">Tweet</button>
        </div>
    </form>
</div>

<section>
    @foreach (var tweet in (ViewData["Tweets"] as List<Tweet>))
    {
        <div class="tweet-card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@tweet.Author.Username</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tweet</h6>
                <p class="card-text">@tweet.Content</p>
                <a href="/home/like/@tweet.Id" class="card-link">Like (@tweet.Likes.Count())</a>
                <a href="#" class="card-link">Retweetey</a>
            </div>
        </div>
    }
</section>
